<footer class="footer">
  <div class="footer-body container">
    <div class="icon-links icon-links-primary">
      <a href="https://github.com/trustedkey" target="_blank" class="icon-link" data-toggle="tooltip" data-placement="top" title="<%= gettext("Github") %>">
        <i class="fab fa-github"></i>
      </a>
    </div>
    
    <!-- <%= gettext "Copyright %{year} POA", year: 2018 %> -->
    
  </div>
</footer>
